# EditorConfig helps maintain consistent coding styles for multiple developers
# working on the same project across various editors and IDEs.
# https://editorconfig.org

root = true

# All files
[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space

# JavaScript, JSON files
[*.{js,json,yml,yaml}]
indent_size = 2

# Markdown files
[*.md]
trim_trailing_whitespace = false
indent_size = 2

# Shell scripts
[*.{sh,bash}]
indent_size = 2
end_of_line = lf

# Dockerfile
[Dockerfile]
indent_size = 2
